.Popular-cat {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 2rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 200px;
  margin: 20px auto;
}
.swiper-wrapper{
  position: relative;
    width: 100%;
    height: 80%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.sw-con {
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}
.loren {
  /* padding-left: 10px; */
}

.cus-con {
  width: 35%;
}
.sub-cus-con {
  width: 100%;
  /* margin-top: 10px; */
}

.sw-con img {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  height: 70%;
  width: 70px;
  margin: auto;
  object-fit: contain;
  padding-left: 10px;
}

.sw-con .food-name {
  color: rgb(55 65 81 / 1);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.75rem;
  margin: 0;
  width: 100%;
}
.sub-cus-con .food-item {
  color: rgb(75 85 99 / 1);
  font-size: 15px;
  line-height: 1rem;
  font-weight: 400;
  width: 100% !important;
}

.star_views {
  color: rgb(250, 175, 0);
  font-size: 15px;
}
.P_star {
  padding-left: 11px;
}
@media screen and (max-width: 767px) {
  .star_views {
    font-size: 10px;
    padding-left: 10px;
  }
  .cus-con,
  .sub-cus-con {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .cus-con {
    display: flex;
    flex-direction: row;
  }
  .sub-cus-con {
    width: 100% !important;
    /* background-color: aqua; */
    line-height: 0;
  }
  .loren {
    width: 100% !important;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .swiper-slide {
    width: 50%;
  }
  .sw-con {
    margin: 0 !important;
    padding: 0 !important;
  }
  .sw-con .food-name {
    width: 100%;
    display: flex;
    font-size: 15px;
    margin: 0 !important;
    padding-left: 10px;
    gap: 0;
    padding-left: 10px;
  }
}
.sw-con .food-item {
  width: 100%;
  display: flex;
  font-size: 15px;
  margin: 0 !important;
  padding-left: 10px;
  gap: 0;
  padding-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .star_views {
    font-size: 10px;
    padding-left: 10px;
  }
  .cus-con,
  .sub-cus-con {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .cus-con {
    display: flex;
    flex-direction: row;
  }
  .sub-cus-con {
    width: 100% !important;
    /* background-color: aqua; */
    line-height: 0;
  }
  .loren {
    width: 100% !important;
    text-align: left;
    /* margin-bottom: 10px; */
    padding-left: 10px;
    font-size: medium;
  }
  .swiper-slide {
    width: 50%;
  }
  .sw-con {
    margin: 0 !important;
    padding: 0 !important;
  }
  .sw-con .food-name {
    width: 100%;
    display: flex;
    font-size: 15px;
    margin: 0 !important;
    padding-left: 10px;
    gap: 0;
    padding-left: 10px;
  }
}
.sw-con .food-item {
  width: 100%;
  display: flex;
  font-size: 15px;
  margin: 0 !important;
  padding-left: 10px;
  gap: 0;
  padding-left: 10px;
}
@media screen and (min-width: 1024px) {
  .star_views {
    font-size: 10px;
    padding-left: 10px;
  }
  .cus-con,
  .sub-cus-con {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .cus-con {
    display: flex;
    flex-direction: row;
  }
  .sub-cus-con {
    width: 100% !important;
    /* background-color: aqua; */
    line-height: 0;
  }
  .loren {
    width: 100% !important;
    text-align: left;
    /* margin-bottom: 10px; */
    padding-left: 10px;
    font-size: medium;
  }
  .swiper-slide {
    width: 50%;
  }
  .sw-con {
    margin: 0 !important;
    padding: 0 !important;
  }
  .sw-con .food-name {
    width: 100%;
    display: flex;
    font-size: 15px;
    margin: 0 !important;
    padding-left: 10px;
    gap: 0;
    padding-left: 10px;
  }
}
.sw-con .food-item {
  width: 100%;
  display: flex;
  font-size: 15px;
  margin: 0 !important;
  padding-left: 10px;
  gap: 0;
  padding-left: 10px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 7px;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: #198754;
}
.swiper-pagination{
  position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: -5px !important;
}
