.Freshfood {
  display: flex !important;
  min-height: 30vh;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 !important;
  @media screen and (min-width: 768px) and (max-width: 992px) {
    display: flex !important;
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 2rem;
    padding: 0 !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: flex !important;
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 2rem;
    padding: 0 !important;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
  }

  //*********************************************************************

  .important_healthyfood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    @media screen and (min-width: 768px) and (max-width: 992px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
  
    }
  }
  //*********************************************************************
  .image {
    @media screen and (min-width: 768px) and (max-width: 992px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
  
    }
  }

  //*********************************************************************

  h2 {
    color: #1b1b1c;
    line-height: 1.2;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    @media screen and (min-width: 768px) and (max-width: 992px) {
    }
  }
}
